@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #708083;
}

.main-container {
  display:flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.ta-wrapper {
  margin-bottom: 10%;
  background: #ffffff;
  color: rgb(220, 220, 220);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 15px rgb(0 0 0 / 20%);
  min-height: 300px;

}

.heading h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

.input-wrapper {
  margin-bottom: 20px;

}

.input-wrapper input {
  outline:none;
    border: 0px;
    background: rgba(8, 181, 197, 0.288);
    padding: 10px;
    color: rgb(0, 0, 0);
    width: 500px;
    font-weight: 800 ;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    
}
.input-wrapper button {
  background: #0a0a0b;
    color: rgb(255, 255, 255);
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 10px;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 10px;
}
.todo-item input {
  background: transparent;
  border: rgb(16, 15, 15);
  color: rgb(0, 0, 0);
  outline: none;
}
.todo-item i{
  color: #1e1e1e;
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 5px;
}
.todo-item button:hover {
  color: white;
}
.done {
  text-decoration: line-through;
}
.fa-x {
  padding: 6px 8px !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
      padding: 15px 0;
      text-align: center;
      font-weight: 500;
      background-color: #000000;
      color: rgb(0, 0, 0);
          background-color: #bcbcbc
         
        }
        footer a {
          color: #000000;
          text-decoration: none;
        }
